@import url('https://fonts.googleapis.com/css?family=Lato|Satisfy');

:root {
  --black: #000;
  --primary: #C2222A;
  --base-unit: 4px;
}

body {
  font: 1.1em "Lato", "Arial", serif;
  line-height: 1.6;
  letter-spacing: 0.01em;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font: 4em "Satisfy", "Georgia", serif;
  text-decoration: none;
  color: var(--black);
  padding-left: 20px;
  margin: 0;
}

h2 {
  font-size: 2em;
  line-height: 1.1;
  margin-bottom: 8px;
}

a {
  color: var(--primary);
}

.content {
  padding: 1em 20px;
  margin: 0 auto;
  max-width: 700px;
}

.contentHeader {
  margin-bottom: calc(var(--base-unit) * 10);
}

.subheader {
  font-size: .7em;
  margin-top: 0;
}
