@import url('https://fonts.googleapis.com/css?family=Lora|Satisfy');

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 1.7em 0;
}

.content {
    font: 1.1em "Lora", "Georgia", serif;
    line-height: 1.6;
    padding: 1em 20px;
    margin: 0 auto;
    max-width: 700px;
    letter-spacing: 0.015em;
}

.main {
    margin-bottom: 4em;
}

.postLink {
    color: black;
    text-decoration: none;
}

.postContainer {
    border: 1px solid #d9dde0;
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: space-between;
}

.postHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}

.postDate {
    margin: 0;
}

.postExcerpt {
    color: #555;
    font-size: 0.8em;
    margin: 0;
}
